<h1>Teams</h1>

<% if @teams.size == 0 %>
  <p>No teams yet!</p>
<% else %>
  <table>
    <thead>
      <tr>
        <%# reference for sort: http://railscasts.com/episodes/228-sortable-table-columns?view=asciicast %>
        <th><%= sortable "team_name", "Team Name" %></th>
        <th>Team Code</th>
        <th>Created By</th>
        <th>Team Members</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @teams.each do |team| %>
        <tr id=team<%= team.id %> >
          <td><%= link_to team.team_name, team %></td>
          <td><%= team.team_code %></td>
          <td><%= team.user.name %></td>
          <td><%= team.student_names.join(", ") %></td>
          <td><%= link_to 'Delete Team', team_confirm_delete_path(team.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>
<%# Use id to prevent capybara getting confused about which "new team" link to click %>
<%= link_to 'New Team', new_team_path, id: "new-team-link" %> |
<%= link_to 'Back', :back %>
