<p>
  <strong>Team Name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>Team Code:</strong>
  <%= @team.team_code %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @team.user.name %>
</p>


<p>
  <strong>All Feedback Submitted?:</strong>
  <%= @team.all_submit(@team.feedbacks) %>
</p>


<h2>Team Members:</h2>
<% if @team.users.length > 0 %>

  <table>
    <thead>
      <tr>
        <th><%= 'Name' %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @team.users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <% if current_user.is_admin %>
            <td><%= link_to 'Remove User From Team', team_confirm_delete_delete_user_from_team_path(user_id: user.id, team_id: @team.id) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no members in this team!</p>
<% end %>
<div class="line"></div>
<% if is_admin? %>
  <h2>Team's Individual Feedback</h2>

  <% if @team.feedbacks.size == 0 %>
    <p>Team has no feedbacks yet!</p>
  <% else %>
        <% @periods.each do |key, period, range, rating, missing, priority| %>
          <div id=<%= key[:year] %>-<%= key[:week] %> >
            <div style="display: inline">
              <span class=<%= 'dot-' + @team.status(range[:start_date], range[:end_date]) %> style="vertical-align: middle" ></span>
              <h3 style="display: inline">  
                <%= range[:start_date].strftime('%b %e, %Y') %> to <%= range[:end_date].strftime('%b %e, %Y') %>
              </h3>
            </div>
            <p>Average Rating of Period (Out of 10): <%= rating %></p>
            <p>Weighted Priority: <%= priority %></p>
            <p>Missing Feedback: <%= missing.join(", ") %></p>
            <table>
              <thead>
                <tr>
                  <th>Student's Name</th>
                  <%# <th>Rating (Out of 10)</th> %>
                  <th>Priority</th>
                  <th>Comments</th>
                  <th>Time Submitted</th>
                  <th colspan="6"></th>
                </tr>
              </thead>
              <tbody>
                <% period.each do |fb| %>
                  <tr>
                    <td><%= fb.user.name %></td>
                    
                    <%if fb.priority == 2%>
                      <td><%='Low'%></td>
                    <%elsif fb.priority == 1%>
                      <td><%='Medium'%></td>
                    <%else%>
                      <td><%='High'%></td>
                    <%end%>
                    <%if fb.comments.nil? || fb.comments.size == 0 %>
                      <td> No Comments Submitted!</td>
                    <%else%>
                      <td><%= fb.comments %></td>
                    <%end%>
                    <td><%= fb.timestamp.strftime('%Y-%m-%d %H:%M EST') %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="small-line"></div>
          <br/>
        <% end %>
  <% end %>

<% else %>

  <h2>Historical Feedback</h2> 
  <% if @team.feedbacks.size == 0 %>
    <p>Team has no feedbacks yet!</p>
  <%else%>
    
    <% @periods.each do |key, period, range, rating, missing, priority| %>
      <div id=<%= key[:year] %>-<%= key[:week] %> >
        <div style="display: inline">
          <span class=<%= 'dot-' + @team.status(range[:start_date], range[:end_date]) %> style="vertical-align: middle" ></span>
          <h3 style="display: inline">  
            <%= range[:start_date].strftime('%b %e, %Y') %> to <%= range[:end_date].strftime('%b %e, %Y') %>
          </h3>
        </div>
        <% if @team.all_submit(@team.feedbacks) == true || Time.now.wday ==0 && Time.now.hour >= 18 %>
          <p>Average Rating of Period (Out of 10): <%= rating %></p>
          <p>Weighted Priority: <%= priority %></p>
         <%else%>
          <p>Average Rating of Period (Out of 10): N/A </p>
          <p>Weighted Priority: N/A </p>
        <%end%>
      </div>
      <br/>
    <% end %>
    
  <%end%>
<% end %>

<br>
<% if is_admin? %>
<! ––this is now the only place an admin can edit a team ––>
  <%= link_to 'Back', :back %> | <%= link_to 'Edit', edit_team_path(@team) %>
<% else %>
  <%= link_to 'Back', :back %>
<% end %>