<h1>Welcome, <%=@current_user.name%></h1>

<% if is_admin? %>
  <br>
  <h3>Admin Code: <%= Option.first.admin_code %></h3>
  <p><%= link_to 'Regenerate Code', regenerate_admin_code_path, class: "btn" %></p>

  <div class="line"></div>
  <h2>Team Summary View</h2>
  <h2>Current Week: <%= @week_range[:start_date].strftime('%b %e, %Y')%> to <%= @week_range[:end_date].strftime('%b %e, %Y')%></h2>

  <% if @teams.size == 0 %>
    <p>No teams yet!</p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Urgency/Intervention Level</th>
          <th>Average Rating (Out of 10)</th>
          <th>Team Name</th>
          <th>Team Code</th>
          <th>Team Members</th>
          <th>Missing Feedback</th>
          <th colspan="5"></th>
        </tr>
      </thead>

      <tbody>
        <% @teams.each do |team| %>
          <tr id=<%= team.id %>>
            <td><span class=<%= 'dot-' + team.status(@week_range[:start_date], @week_range[:end_date]) %>></span></td>
            <% if team.all_submit(team.feedbacks) == true || Time.now.wday ==0 && Time.now.hour >= 18 %>
            <% priority = team.find_priority_weighted(@week_range[:start_date], @week_range[:end_date]) %>
            <%else%>
            <% priority = 'N/A'%>
            <%end%>
            <td><%= priority %></td>
            <% if team.all_submit(team.feedbacks) == true || Time.now.wday ==0 && Time.now.hour >= 18 %>
            <% average_rating = Team.feedback_average_rating(team.feedbacks.where(timestamp: @week_range[:start_date]..@week_range[:end_date])) %>
            <%else%>
            <%average_rating = 'N/A'%>
            <%end%>
            <td><%= average_rating %></td>
            <td><%= team.team_name %></td>
            <td><%= team.team_code %></td>
            <td><%= team.student_names.size == 0 ? 'No members' : team.student_names.join(", ") %></td>

            <%if team.feedbacks.size > 0%>
                <td><%= @unsubmitted[:current_week][team.id].size == 0 ? 'All submitted!' : @unsubmitted[:current_week][team.id].join(", ") %></td>
                <td><%= link_to "Details", team %></td>
              <% else %>
                <td>N/A</td>
                <td><%= link_to "Details", team %></td>
            <%end%>

          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  
  <br>
  <div class="small-line"></div>
  <h2>Previous Week: <%= (@week_range[:start_date] - 7.days).strftime('%b %e, %Y')%> to <%= (@week_range[:end_date] - 7.days).strftime('%b %e, %Y')%></h2>

  <% if @teams.size == 0 %>
    <p>No teams yet!</p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Urgency/Intervention Level</th>
          <th>Average Rating (Out of 10)</th>
          <th>Team Name</th>
          <th>Team Code</th>
          <th>Team Members</th>
          <th>Missing Feedback</th>
          <th colspan="5"></th>
        </tr>
      </thead>

      <tbody>
        <% @teams.each do |team| %>
          <tr>
            <td><span class=<%= 'dot-' + team.status(@week_range[:start_date] - 7, @week_range[:end_date] - 7) %>></span></td>
            <% priority = team.find_priority_weighted((@week_range[:start_date] - 7.days), (@week_range[:end_date] - 7.days)) %>
            <td><%= priority ? priority : "No feedback" %></td>
            <% average_rating = Team.feedback_average_rating(team.feedbacks.where(timestamp: (@week_range[:start_date] - 7.days)..(@week_range[:end_date] - 7.days))) %>
            <td><%= average_rating ? average_rating : "No feedback" %></td>
            <td><%= team.team_name %></td>
            <td><%= team.team_code %></td>
            <td><%= team.student_names.size == 0 ? 'No members' : team.student_names.join(", ") %></td>
            <%if team.feedbacks.size > 0%>
                <td><%= @unsubmitted[:previous_week][team.id].size == 0 ? 'All submitted!' : @unsubmitted[:previous_week][team.id].join(", ") %></td>
              <% else %>
                <td>No feedback</td>
            <%end%>           
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

    
<% else %>

    <% team_array = @rating_reminders %>
    <% days_till_end_week = @days_till_end_week %>
    <% warn_user = team_array.size > 0 %>
    <% if warn_user && days_till_end_week <= 1 && Time.now.wday!=1 && Time.now.wday!=2 && Time.now.wday!=3 %>
      <p class="warning1day">WARNING: <%= days_till_end_week %> days left to submit feedback:</p>
    <% end %>
    <% if warn_user && days_till_end_week == 2  && Time.now.wday!=1 && Time.now.wday!=2 && Time.now.wday!=3 %>
      <p class="warning2days">Important: <%= days_till_end_week %> days left to submit feedback:</p>
    <% end %>
    <% if warn_user && days_till_end_week > 2  && Time.now.wday!=1 && Time.now.wday!=2 && Time.now.wday!=3%>
      <p class="warning"><%= days_till_end_week %> days left to submit feedback:</p>
    <% end %>
    
     <%if (Time.now.wday!=1 && Time.now.wday!=2 && Time.now.wday!=3 && Time.now.wday != 0) || (Time.now.wday == 0 && Time.now.hour < 18)%> 
        <ul id ="feedbackbutton" class="btns">
        <% team_array.each do |team| %>
          <li><%= link_to 'Submit for: ' + team.team_name, new_feedback_path, class: "btn" %></li> 
        </ul> 
      <% end %>  
    <% end %>
    
    <div class="line"></div>
    <% if current_user.teams.size == 0 %>
      <p>No teams yet!</p>
    <% else %>
      <br>
      <h2>Team Summary View</h2>
      <h2>Current Week: <%= @week_range[:start_date].strftime('%b %e, %Y')%> to <%= @week_range[:end_date].strftime('%b %e, %Y')%></h2>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Urgency/Intervention Level</th>
            <th>Average Rating (Out of 10)</th>
            <th>Team Name</th>
            <th>Team Members</th>
            <th colspan="4"></th>
          </tr>
        </thead>

        <tbody>
          <% @current_user.teams.each do |team| %>
            <tr id=<%= team.id %>>
              <td id=<%= team.id %>-status>
                <span class=<%= 'dot-' + team.status(@week_range[:start_date], @week_range[:end_date]) %>></span>
              </td>
                <% if team.all_submit(team.feedbacks) == true || Time.now.wday ==0 && Time.now.hour >= 18 %>
            <% priority = team.find_priority_weighted(@week_range[:start_date], @week_range[:end_date]) %>
            <%else%>
            <% priority = 'N/A'%>
            <%end%>
            <td><%= priority %></td>
            <% if team.all_submit(team.feedbacks) == true || Time.now.wday ==0 && Time.now.hour >= 18 %>
            <% average_rating = Team.feedback_average_rating(team.feedbacks.where(timestamp: @week_range[:start_date]..@week_range[:end_date])) %>
            <%else%>
            <%average_rating = 'N/A'%>
            <%end%>
            <td><%= average_rating %></td>
              <td><%= team.team_name %></td>
              <td><%= team.student_names.join(", ") %></td>
              <%if team.feedbacks.size > 0%>
                <td><%= link_to "View Historical Data", team %></td>
              <% else %>
                <td>Team Does Not Have Any Ratings!</td>
              <%end%>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="line"></div>
      <h2>Previous Week: <%= (@week_range[:start_date] - 7.days).strftime('%b %e, %Y')%> to <%= (@week_range[:end_date] - 7.days).strftime('%b %e, %Y')%></h2>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Urgency/Intervention Level</th>
            <th>Average Rating (Out of 10)</th>
            <th>Team Name</th>
            <th>Team Members</th>
            <th colspan="4"></th>
          </tr>
        </thead>

        <tbody>
          <% @current_user.teams.each do |team| %>
            <tr>
              <td><span class=<%= 'dot-' + team.status(@week_range[:start_date] - 7, @week_range[:end_date] - 7) %>></span></td>
              <% priority = team.find_priority_weighted((@week_range[:start_date] - 7.days), (@week_range[:end_date] - 7.days)) %>
              <td><%= priority ? priority : "No feedback" %></td>
              <% average_rating = Team.feedback_average_rating(team.feedbacks.where(timestamp: (@week_range[:start_date] - 7.days)..(@week_range[:end_date] - 7.days))) %>
              <td><%= average_rating ? average_rating : "No feedback" %></td>
              <td><%= team.team_name %></td>
              <td><%= team.student_names.join(", ") %></td>

            </tr>
          <% end %>
        </tbody>
      </table>
  <% end %>
<% end %>