</br>

<%= form_with(local: true, url: reset_password_url, method: :post) do |form| %>
  <div class="field">
    <%= form.label "Existing Password" %>
    <%= form.password_field :existing_password %>
  </div>

  <div class="field">
    <%= form.label 'New Password' %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label 'New Password Confirmation' %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>

<br/>
<p><%= link_to 'Back', :back %></p>