<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>


<p>
  <strong>Team:</strong>
  <%= @user.team_names.join(", ") %>
</p>


<p><%= link_to 'Regenerate Password', reset_user_password_path(@user), class: "btn" %></p>

<%= link_to 'Back', :back %>
