<%= form_with(model: feedback, local: true) do |form| %>
  <% if feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
        <% feedback.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <% if flag == true %>
      <div class="field">
        Student Name:
        <%= user.name %>
      </div>
    <% end %>
  <div class="field">
    Your Current Team:
    <% user.team_names.each do |tm| %>
      <%= tm %>
    <% end %>   
  </div>

  <div class="field">
    Current System Time: 
    <%= @feedback.format_time(now) %>    
  </div> 

  <div class="field">  
    <% choices = [["0 - Strongly Disagree", 0],["1 - Disagree", 1],["2 - Neutral", 2], ["3 - Agree", 3], ["4 - Strongly Agree", 4]] %>
    <%= form.label :contribution, "Q1: Everyone in the group is contributing equally."%>
    <%= form.select :contribution, choices, :include_blank => true%>
  </div>

  <div class="field">  
    <% choices = [["0 - Strongly Disagree", 0],["1 - Disagree", 1],["2 - Neutral", 2], ["3 - Agree", 3], ["4 - Strongly Agree", 4]] %>
    <%= form.label :attendance, "Q2: Everyone in the group is attending all meetings (unless they have an excused absence)."%>
    <%= form.select :attendance, choices, :include_blank => true%>
  </div>

  <div class="field">  
    <% choices = [["0 - Strongly Disagree", 0],["1 - Disagree", 1],["2 - Neutral", 2], ["3 - Agree", 3], ["4 - Strongly Agree", 4]] %>
    <%= form.label :respect, "Q3: The group treats me with respect and provides constructive criticism for my work when needed."%>
    <%= form.select :respect, choices, :include_blank => true%>
  </div>

  <div class="field">  
    <% choices = [["0 - Strongly Disagree", 0],["1 - Disagree", 1],["2 - Neutral", 2], ["3 - Agree", 3], ["4 - Strongly Agree", 4]] %>
    <%= form.label :knowledge, "Q4: My group members take the time to share their knowledge and assist other members of the group when needed."%>
    <%= form.select :knowledge, choices, :include_blank => true%>
  </div>

  <div class="field">  
    <% choices = [["High", 0],["Medium", 1],["Low", 2]] %>
    <%= form.label :priority, "Urgency" %>
    <%= form.select :priority, choices, {include_blank: true}%>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_area :comments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
